<!DOCTYPE html>
<html>
<head>
    <title>Edit Quote</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

        <div class="topbar">

        <a href="/">
            <button>Saved Quotes</button>
        </a>

        <a href="/map">
            <button>Map View</button>
        </a>

        <a href="/quote/new">
            <button>Add Quote</button>
        </a>

        <a href="/settings">
            <button>Settings</button>
        </a>

    </div>

<div class="container">

    <h1>Edit Quote</h1>

    <div class="card">

        <form method="POST">

            <input
                name="customer"
                value="{{ quote['customer'] }}"
                required
            >

            <input
                name="address"
                value="{{ quote['address'] }}"
                required
            >
            
            <input
                name="phone"
                value="{{ quote['phone'] or '' }}"
                placeholder="Phone Number"
            >

            <input
                name="email"
                type="email"
                value="{{ quote['email'] or '' }}"
                placeholder="Email"
            >

            <input
                name="windows"
                type="number"
                value="{{ quote['windows'] }}"
                required
            >
            
            <input
                name="outside"
                type="number"
                step="1"
                value="{{ quote['outside_price'] }}"
                required
            >

            <input
                name="inside"
                type="number"
                step="1"
                value="{{ quote['inside_price'] }}"
                required
            >

            <input
                name="both"
                type="number"
                step="1"
                value="{{ quote['both_price'] }}"
                required
            >

            <input
                type="date"
                name="quote_date"
                value="{{ quote['quote_date'] }}"
            >

            <textarea name="notes">{{ quote["note"] }}</textarea>

            <button type="submit">Save Changes</button>

        </form>

        <a class="back-link" href="/">← Back</a>

    </div>

</div>

</body>
</html>
